@media screen and (min-width: 980px) /* Desktop */ {
  .app.container {
    width: 90%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 979px) /* Tablet */ {
  .app.container {
    width: 100%;
  }
}
